.katalog_btn{
  display: flex;
  justify-content: center;
    border: none;
    color: white;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #000;
    right: 0;
    width: 100%;
    margin-top: 20px;
    column-gap: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.katalog_btn:hover{
    border-radius: 50px;
    background-color: white;
    border: 1px solid black;
    color: #000;
    transition: .3s ease;
}
.katalog_btn:focus{
    transition: .6s ease;
    column-gap: 40px;
}
.katalog_container_blok{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    align-items:center;
   justify-content: center;
}